* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}

button,
input {
  outline-style: none;
  border: none;
}

::-webkit-scrollbar {
  width: 0px;
}

:root {
  --mainSize: 5px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.messenger {
  /* display: none; */
  height: 500px;
  width: 300px;
  border: 1px solid #000;
  border-radius: var(--mainSize);
  padding: var(--mainSize);
  background-color: #6a0dad;

  margin-top: -1270px;
}

@keyframes fallFromAbove {
  100% {
    margin-top: 0;
  }
}

@keyframes backToTheTop {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -1270px;
  }
}

.messenger-inner {
  height: 100%;
}

.messenger-screen-container {
  border-radius: var(--mainSize);
  height: 92%;
  overflow-y: scroll;
}

.messenger-input-container {
  height: 7%;
  padding-top: var(--mainSize);
  display: flex;
  justify-content: space-between;
}

.messenger-input-container input {
  height: 100%;
  width: 77%;
  border-radius: 5px;
}

.messenger-input-container button {
  width: 20%;
  height: 100%;
  border-radius: 5px;
}

.screen {
  min-height: 100%;
  width: 100%;
  padding: 10px;
  background-color: #fff;
}

.message-container {
  margin-bottom: 10px;
  display: flex;
  position: relative;
}

.message {
  max-width: 70%;
  margin: 0;
  padding: 8px;
  border-radius: 15px;
}

.message-Gisapia {
  margin-left: 30px;
  background-color: #00c6ff;
}

.message-user {
  margin-left: auto;

  background-color: #0078ff;
}

.character-avatar {
  position: absolute;
  border: 1px solid #000;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
}

.loader {
  width: 20px;
  height: 20px;
  background-color: #00c6ff;
  animation: rotate 0.1s infinite;
}

@keyframes rotate {
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.circle {
  display: inline-block;
  background-color: orange;
  height: 10px;
  width: 10px;
  border-radius: 25px;
}

#circle-container {
  height: 50px;
  margin-left: 5px;
  margin-top: 20px;
}

#ball-1 {
  -webkit-animation-name: bounce;
  -webkit-animation-delay: 0.2s;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
}
#ball-2 {
  -webkit-animation-name: bounce;
  -webkit-animation-delay: 0.3s;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
}
#ball-3 {
  -webkit-animation-name: bounce;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(-8px);
  }
  80% {
    transform: translateY(0);
  }
}
