* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

h1 {
  margin: 0;
}

button,
input {
  outline-style: none;
  border: none;
}

::-webkit-scrollbar {
  width: 0px;
}

:root {
  --mainSize: 5px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.app-container {
  width: 100vw;
  height: 100vh;
  max-width: 1200px;
  position: relative;
}

.messenger {
  height: 500px;
  width: 300px;
  position: absolute;
  border: 1px solid #000;
  border-radius: var(--mainSize);
  padding: var(--mainSize);
  background-color: rgb(132, 42, 86);
  left: 50%;
  top: -100%;
  transform: translate(-50%, -50%);
}

.messenger-inner {
  height: 100%;
}

.messenger-screen-container {
  border-radius: var(--mainSize);
  height: 92%;
  overflow-y: scroll;
}

.messenger-input-container {
  height: 7%;
  padding-top: var(--mainSize);
  display: flex;
  justify-content: space-between;
}

.messenger-input-container input {
  height: 100%;
  width: 77%;
  border-radius: 5px;
}

.messenger-input-container button {
  width: 20%;
  height: 100%;
  border-radius: 5px;
}

.screen {
  min-height: 100%;
  width: 100%;
  padding: 10px;
  background-color: #fff;
}

.message-container {
  margin-bottom: 10px;
  display: flex;
  position: relative;
}

.message {
  max-width: 70%;
  margin: 0;
  padding: 8px;
  border-radius: 15px;
}

.message-Gisapia {
  margin-left: 30px;
  background-color: rgb(214, 129, 170);
}

.message-user {
  margin-left: auto;

  background-color: rgb(132, 99, 226);
}

.characters-container {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
}

.character-avatar {
  position: absolute;
  border: 1px solid #000;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
}

.circle {
  display: inline-block;
  background-color: rgb(132, 42, 86);
  height: 10px;
  width: 10px;
  border-radius: 25px;
}

#circle-container {
  height: 50px;
  margin-left: 5px;
  margin-top: 20px;
}

#ball-1 {
  animation: bounce 0.7s 0.2s infinite;
}
#ball-2 {
  animation: bounce 0.7s 0.3s infinite;
}
#ball-3 {
  animation: bounce 0.7s 0.4s infinite;
}

/* SelectCharUI */

.selectCharUI-container {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 400px;
  height: 320px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  text-align: center;
  color: rgb(248, 233, 241);
  background-color: rgba(75, 23, 48, 0.9);
  border: 3px solid rgb(132, 42, 86);
  border-radius: 15px;
}

.selectCharUI-container h1 {
  text-transform: uppercase;
  line-height: 50px;
}

.selectCharUI-container button {
  width: 100px;
  height: 60px;
  padding: 10px;
  margin: 5px;
  color: #fff;
  font-size: 19px;
  border: 1px solid rgb(132, 42, 86);
  border-radius: 15px;
  background-color: rgb(95, 16, 54);
}

.selectCharUI-container .charTalking {
  width: 180px;
  height: 60px;
  background-color: rgb(218, 4, 111);
  text-transform: uppercase;
}

.selectCharUI-container .selectChar:hover {
  background-color: rgb(170, 120, 144);
}

.selectCharUI-container .charTalking:hover {
  background-color: rgb(212, 103, 0);
}

.selectChar.active {
  background-color: red;
}

#gisapiasvg {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 500px;
  z-index: -1;
}

#canvas {
  position: absolute;
  top: 0%;
  height: 100vh;
  width: 100vw;
  z-index: -2;
}

@keyframes fallFromAbove {
  100% {
    top: 50%;
  }
}

@keyframes backToTheTop {
  100% {
    top: -100%;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(-8px);
  }
  80% {
    transform: translateY(0);
  }
}
