* {
  box-sizing: border-box;
}

:root {
  --mainSize: 5px;
}

.messenger {
  height: 500px;
  width: 300px;
  background-color: red;
  padding: var(--mainSize);
}

.messenger-inner {
  height: 100%;
}

.messenger-screen-container {
  height: 80%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

.messenger-input-container {
  height: 20%;
  background-color: orange;
  padding: var(--mainSize);
}

.screen {
  min-height: 100%;
  width: 100%;
  padding: var(--mainSize);
  /* background-color: blue; */
}

.messageWrapper {
  margin-bottom: 10px;
}

.messageWrapper-Gisapia {
  background-color: red;
}

.messageWrapper-user {
  background-color: #fff;
}

.loader {
  width: 20px;
  height: 20px;
  background-color: yellow;
  animation: rotate 0.1s infinite;
}

@keyframes rotate {
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
