* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
  font-family: Comic Sans, Comic Sans MS, sans-serif;
  overflow-y: hidden;
  height: 100%;
}

body {
  background-color: #000;
}

button,
input {
  outline-style: none;
  border: 0;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: rgb(241, 161, 12);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(243, 243, 243, 0.329);
}
