.messenger {
  height: 550px;
  width: 350px;
  position: absolute;
  border: 1px solid var(--messengerOutlineColor);
  border-radius: var(--messengerMainSize);
  padding: 5px;
  left: 50%;
  top: -100%;
  transform: translate(-50%, -50%);
}

.messenger-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messenger-screen-container {
  border-radius: var(--messengerMainSize);
  height: 100%;
  overflow-y: scroll;
  border: 2px solid var(--messengerOutlineColor);
}

.messenger-screen {
  min-height: 100%;
  width: 100%;
  padding: 10px;
}

.messenger-message-container {
  margin-bottom: 10px;
  display: flex;
  position: relative;
}

.messenger-message {
  max-width: 70%;
  margin: 0 0 0 40px;
  padding: 8px;
  border-radius: 15px;
  font-size: 1.6rem;
}

.messenger-message.user-main {
  margin-left: auto;
}

.messenger-character-avatar {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 33px;
  height: 33px;
}

.messenger-loader-container {
  height: 50px;
  margin-left: 5px;
  margin-top: 20px;
}

.messenger-loader {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 25px;
}

#ball-1 {
  animation: bounce 0.7s 0.2s infinite;
}
#ball-2 {
  animation: bounce 0.7s 0.3s infinite;
}
#ball-3 {
  animation: bounce 0.7s 0.4s infinite;
}

.messenger-interface-container {
  height: 7%;
  min-height: 40px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

.messenger-interface-input {
  height: 100%;
  width: 77%;
  border-radius: var(--messengerMainSize);
  border: 2px solid var(--messengerOutlineColor);
  font-size: 1.6rem;
}

.messenger-interface-btn {
  border: 2px solid var(--messengerOutlineColor);
  width: 20%;
  height: 100%;
  border-radius: var(--messengerMainSize);
}

.messenger-spinner-container {
  border: 2px solid var(--messengerOutlineColor);
  width: 20%;
  height: 100%;
  border-radius: var(--messengerMainSize);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  display: none;
}

.messenger-spinner {
  position: relative;
  width: 25px;
  height: 25px;
  margin: auto;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  background: #ffffff;
  background: -moz-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(to right, #4d4d4d85 10%, rgba(93, 93, 93, 0) 42%);
  font-size: 10px;
  text-indent: -9999em;

  -webkit-animation: spinnerAnimation 1.4s infinite linear;
  animation: spinnerAnimation 1.4s infinite linear;
}
.spinner:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-radius: 100% 0 0 0;

  background: #ffffff;
  content: '';
}
.spinner:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 75%;
  margin: auto;
  border-radius: 50%;

  background-color: var(--buttonColor);
  content: '';
}

@media (max-width: 500px) {
  .messenger {
    height: 85%;
    width: 85%;
  }
}

@media (max-width: 380px) {
  .messenger {
    height: 100%;
    width: 100%;
  }
}
