.messenger {
  position: absolute;
  left: 50%;
  top: -100%;
  width: 350px;
  height: 550px;
  border: 1px solid var(--messengerOutlineColor);
  border-radius: var(--messengerMainSize);
  padding: 5px;
  transform: translate(-50%, -50%);
}

.messenger-inner {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.messenger-screen {
  height: 100%;
  border: 2px solid var(--messengerOutlineColor);
  border-radius: var(--messengerMainSize);
  overflow-y: scroll;
}

.messenger-screen-inner {
  width: 100%;
  min-height: 100%;
  padding: 10px;
}

.messenger-backIcon {
  position: fixed;
  top: 2%;
  right: 4%;
  width: 30px;
  height: 30px;
  padding: 2px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.messenger-backIcon:hover {
  background-color: rgb(241, 161, 12);
}

.messenger-message-container {
  position: relative;
  display: flex;
  margin-bottom: 7px;
}

.messenger-message {
  max-width: 70%;
  margin-left: 40px;
  padding: 8px;
  border-radius: 15px;
  font-size: 16px;
  word-wrap: break-word;
}

.messenger-message.user-main {
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.messenger-avatar {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.messenger-loader-container {
  height: 50px;
  margin-left: 5px;
  margin-top: 20px;
}

.messenger-loader {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 25px;
}

#ball-1 {
  animation: bounce 0.7s 0.2s infinite;
}
#ball-2 {
  animation: bounce 0.7s 0.3s infinite;
}
#ball-3 {
  animation: bounce 0.7s 0.4s infinite;
}

.messenger-interface {
  display: flex;
  justify-content: space-between;
  height: 7%;
  min-height: 40px;
  padding-top: 5px;
}

.messenger-interface-input {
  width: 77%;
  height: 100%;
  border-radius: var(--messengerMainSize);
  border: 2px solid var(--messengerOutlineColor);
  font-size: 16px;
}

.messenger-interface-btn {
  width: 20%;
  height: 100%;
  border: 2px solid var(--messengerOutlineColor);
  border-radius: var(--messengerMainSize);
}

.messenger-spinner-container {
  display: none;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  border: 2px solid var(--messengerOutlineColor);
  border-radius: var(--messengerMainSize);
  font-size: 14px;
}

.messenger-spinner {
  position: relative;
  width: 25px;
  height: 25px;
  margin: auto;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  background: #ffffff;
  background: -moz-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(to right, #4d4d4d85 10%, rgba(93, 93, 93, 0) 42%);
  font-size: 10px;
  text-indent: -9999em;

  -webkit-animation: spinnerAnimation 1.4s infinite linear;
  animation: spinnerAnimation 1.4s infinite linear;
}
.spinner:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-radius: 100% 0 0 0;
  background: #ffffff;
  content: '';
}
.spinner:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 75%;
  margin: auto;
  border-radius: 50%;

  background-color: var(--buttonColor);
  content: '';
}

@media (max-width: 500px) {
  .messenger {
    width: 100%;
    height: 100%;
  }

  .messenger-message {
    margin: 0 0 0 50px;
    font-size: 18px;
  }

  .messenger-avatar {
    width: 40px;
    height: 40px;
  }

  .messenger-interface {
    min-height: 50px;
  }

  .messenger-interface-input {
    font-size: 17px;
  }

  .messenger-interface-btn {
    font-size: 16px;
  }
}
