.privatePolicy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  width: 90%;
  max-width: 700px;
  max-height: 90%;
  padding: 10px 20px;
  background-color: var(--selectCharUIBgColor);
  border: 3px solid var(--selectCharUISecondColor);
  border-radius: 15px;
  text-align: justify;
  font-size: 16px;
  color: rgb(248, 233, 241);
  overflow: auto;
}

.privatePolicy-link-container {
  width: 100%;
  margin-top: 25px;
}

.privatePolicy-link {
  margin: 10px auto;
  font-size: 15px;
  color: rgb(253, 229, 229);
  text-decoration: none;
}

.privatePolicy-link:hover {
  text-decoration: underline;
  color: rgb(241, 161, 12);
}

.privatePolicy-headline {
  margin-top: 20px;
}

.privatePolicy-paragraph {
  margin: 15px 0;
}

@media (max-width: 600px) {
  .privatePolicy {
    max-height: 95%;
    text-align: left;
  }
}
