.selectCharUI {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  width: 400px;
  padding: 20px;
  background-color: var(--selectCharUIBgColor);
  border: 3px solid var(--selectCharUISecondColor);
  border-radius: 15px;
  text-align: center;
  color: rgb(248, 233, 241);
}

.selectCharUI-headline,
.selectCharUI-message {
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 50px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.selectCharUI-message {
  margin: 10px 0;
}

.selectCharUI-startBtn {
  width: auto;
  margin-top: 20px;
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(173, 173, 173, 0.322);
  font-family: Comic Sans MS, Comic Sans, cursive, sans-serif;
  font-size: 1.9rem;
  text-transform: uppercase;
  color: #fff;
  pointer-events: none;
}

.selectCharUI-readyBtn {
  background-color: rgb(218, 4, 111);
  pointer-events: all;
}

.selectCharUI-readyBtn:hover {
  background-color: rgb(241, 161, 12);
}

.selectCharUI-selectBtn {
  width: 100px;
  height: 60px;
  margin: 5px;
  border: 2px solid var(--selectCharUIMainColor);
  border-radius: 15px;
  background-color: var(--selectCharUISecondColor);
  color: #fff;
  font-size: 1.9rem;
  cursor: pointer;
}

.selectCharUI-activeBtn {
  background-color: rgb(241, 161, 12);
}

.selectCharUI-plLngIcon,
.selectCharUI-engLngIcon {
  /* position: absolute;
  right: 7px;
  top: 5px; */
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.selectCharUI-engLngIcon {
  right: 42px;
  margin-left: 10px;
}

.selectCharUI-lngIcon-active {
  background-color: rgb(241, 161, 12);
  padding: 1px;
  border-radius: 50%;
}

@media (max-width: 500px) {
  .selectCharUI {
    width: 320px;
  }
}

@media (max-width: 380px) {
  .selectCharUI {
    width: 240px;
  }

  .selectCharUI-headline,
  .selectCharUI-message {
    font-size: 2.2rem;
  }

  .selectCharUI-startBtn {
    font-size: 1.5rem;
  }

  .selectCharUI-selectBtn {
    font-size: 1.7rem;
    width: 100px;
    height: 60px;
  }
}
