.selectCharUI {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  width: 400px;
  padding: 20px;
  background-color: var(--selectCharUIBgColor);
  border: 3px solid var(--selectCharUISecondColor);
  border-radius: 15px;
  text-align: center;
  color: rgb(248, 233, 241);
}

.selectCharUI-headline,
.selectCharUI-message {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 50px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.selectCharUI-message {
  margin: 10px 0;
}

.selectCharUI-startBtn {
  width: 60%;
  min-width: 180px;
  margin-top: 20px;
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(173, 173, 173, 0.322);
  font-family: Comic Sans MS, Comic Sans, cursive, sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  color: #fff;
  pointer-events: none;
}

.selectCharUI-startBtn-ready {
  background-color: rgb(218, 4, 111);
  pointer-events: all;
}

.selectCharUI-startBtn-ready:hover {
  background-color: rgb(241, 161, 12);
}

.selectCharUI-selectBtn {
  width: 100px;
  height: 60px;
  margin: 5px;
  background-color: var(--selectCharUISecondColor);
  border: 2px solid var(--selectCharUIMainColor);
  border-radius: 15px;
  color: #fff;
  font-size: 19px;
  cursor: pointer;
}

.selectCharUI-selectBtn-active {
  background-color: rgb(241, 161, 12);
}

.selectCharUI-plLngBtn,
.selectCharUI-engLngBtn {
  width: 42px;
  height: 42px;
  padding: 3px;
  border-radius: 50%;
  background-color: var(--selectCharUISecondColor);
  color: #fff;
}

.selectCharUI-engLngBtn {
  right: 42px;
  margin-left: 10px;
}

.selectCharUI-lngBtn-active {
  border: 2px solid rgb(241, 161, 12);
}

@media (max-width: 500px) {
  .selectCharUI {
    width: 320px;
  }
}

@media (max-width: 380px) {
  .selectCharUI {
    width: 250px;
  }

  .selectCharUI-headline,
  .selectCharUI-message {
    font-size: 22px;
    line-height: 35px;
  }

  .selectCharUI-plLngBtn,
  .selectCharUI-engLngBtn {
    width: 35px;
    height: 35px;
    font-size: 10px;
  }

  .selectCharUI-startBtn {
    font-size: 15px;
  }

  .selectCharUI-selectBtn {
    font-size: 17px;
    width: 100px;
    height: 60px;
  }
}
