@keyframes toBottomHide {
  0% {
    top: 50%;
    opacity: 1;
  }

  40% {
    opacity: 0;
  }
  100% {
    top: 150%;
  }
}

@keyframes fromBottomShow {
  0% {
    top: 150%;
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    top: 50%;
    opacity: 1;
  }
}

@keyframes fallFromTop {
  100% {
    top: 50%;
  }
}

@keyframes backToTheTop {
  0% {
    top: 50%;
  }
  100% {
    top: -100%;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(-8px);
  }
  80% {
    transform: translateY(0);
  }
}
