.messenger {
  height: 550px;
  width: 350px;
  position: absolute;
  border: 1px solid #000;
  border-radius: var(--mainSize);
  padding: var(--mainSize);
  background-color: rgb(132, 42, 86);
  left: 50%;
  top: -100%;
  transform: translate(-50%, -50%);
}

.messenger-inner {
  height: 100%;
}

.messenger-screen {
  border-radius: var(--mainSize);
  height: 92%;
  overflow-y: scroll;
}

.messenger-interface {
  height: 7%;
  padding-top: var(--mainSize);
  display: flex;
  justify-content: space-between;
}

.messenger-interface input {
  height: 100%;
  width: 77%;
  border-radius: 5px;
  font-size: 16px;
}

.messenger-interface button {
  width: 20%;
  height: 100%;
  border-radius: 5px;
  background-color: rgb(224, 175, 199);
}
