* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

button,
input {
  outline-style: none;
  border: 0;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: rgb(241, 161, 12);
}

::-webkit-scrollbar {
  width: 0px;
}
